@charset "utf-8";
/* CSS Document */


.row{ margin:0px; }

.no-padding{ padding:0px;}

.padding-l-zero{ padding-left:0px; }

.padding-r-zero{ padding-right:0px; }

a:hover{ text-decoration:none;}

.clear{ clear:both;}


@font-face{ font-family:raleway.regular; src: url(../fonts/raleway.regular.ttf); }

body{ font-family:raleway.regular; }

/*enquiry form*/

.enquiry-form { position:fixed; top:25%; left:0px; color:#fff;
-moz-transform:translateX(0px);-webkit-transform:translateX(0px);
transform:translateX(0px);z-index:99999;}

.enquiry-form .enq-btn h4{ background:#124E4F; border-radius:20%; position:fixed; left:-9px; top:190px;cursor:pointer; transition:all 1s;}

.enq-btn h4 i.fa{ background:#f97852; color:#fff; padding:8px; font-size:16px; border-radius:50%;}

.enquiry-form .enq-btn:hover,.enquiry-form.active .enq-btn{ background:#f12938;}

.enq-btn{ transition:all 1s; }

.enq-btn.active{-moz-transform:translateX(300px); -webkit-transform:translateX(300px);
transform:translateX(300px);transition:all 1s; }

.enq-btn.active h4 { width: 49px;top: -23px;left: 0px;}

/*.enq-btn.active:before{ content:"X"; position:absolute; top:0px; color:#fff; right:-37px; padding:2px 15px; z-index:99999; background:#0069B3; cursor:pointer;transition:all 1s;  }*/

.enq-btn.active:hover:before{ background:#000;color:#fb4358;}

.enq-btn h4{ margin:0px; padding:10px;}

.form-wrap{ width:300px; background:#fff; box-shadow:0px 0px 3px #666; position:fixed; top:0%; left:0px; z-index:99999; padding:20px; -moz-transform:translateX(-300px);
-webkit-transform:translateX(-300px); transform:translateX(-300px);  display:none; overflow:hidden; overflow-y:auto; transition:all 1s;    } 

.form-wrap.visible{ -moz-transform:translateX(0px); -webkit-transform:translateX(0px);
transform:translateX(0px); overflow-y:auto;  overflow:hidden; }

.enquiry-form button{ background:#0069B3; margin-top:10px; border:0px; border-radius:0px; color:#fff; font-size:14px; float:right; padding:7px 15px;}

#floating-label .form-group {display: flex;}

#floating-label .form-group.select{ height:auto; display:inherit; }

#floating-label .form-group .form-control{   box-shadow:none; border-radius:0px;} 

#floating-label .control-label { font-size: 12px;font-weight: 400; opacity:0.3;
	pointer-events: none; position: absolute; transform: translate3d(6px, 23px, 0) scale(1);
	transform-origin: left top; transition: 240ms; margin-bottom:2px;  color:#fff;
}

#floating-label .form-group.focused .control-label {
	opacity: 1; transform: scale(0.9);  color:#fff; }

#floating-label .form-group.focused text-area{ padding-top:20px;}

#floating-label .form-control { align-self: flex-end;}

.browse-icon h3{ color:#fff; margin:0px; padding:5px 0px; font-size:18px;}

.browse-icon{ background:#5bc0de; width:46%; margin-top:-42px;}

.browse-icon i.fa{ float:left; margin:6px 8px;}

input[type="file"] {display: block; opacity: 0.1;}






#menu ul li{ float:left; margin:0px 5px; position:relative; padding:10px 20px;}

#menu ul li a{ text-decoration:none; }

#menu ul ul{ display:none; position:absolute; top:100%; left:0;  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;}

#menu ul ul li{ float:none; width:100px;  padding:10px 5px;}

#menu ul li:hover ul{ background:#ccc; display:block; 
      transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.list-unstyled{ list-style:none;}










/*table styles*/

/*invoice table styles starts here*/
@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; margin:12px 0px; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}


#no-more-tables th{ background:#e8f8fe; color:#000; text-align:center;}

td{ border:0px;}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th{ }

#no-more-tables{ margin:20px 0px;}

#no-more-tables i.fa{ margin:0px 5px;}

.table-bordered{ margin-bottom:10px;}




